<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="icon" type="image/png" href="./assets/favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/calculator.css">
    <script src="vendor/bootstrap.min.js"></script>
    <script src="vendor/jquery.min.js"></script>


</head>

<body>
    <div id="app" class="container">
        <h3>Welcome: {{ user.email }}</h3>
        <br>
        <input id="num1" type="number" v-model="num1">
        <br>
        <input id="num2" type="number" v-model="num2">
        <br>
        <input class="btn btn-primary btn-opt" id="btnplus" v-on:click="plus" type="button" value="+">
        <input class="btn btn-primary btn-opt" id="btnminus" v-on:click="minus" type="button" value="-">
        <input class="btn btn-primary btn-opt" id="btnmultiply" v-on:click="multiply" type="button" value="x">
        <input class="btn btn-primary btn-opt" id="btndivide" v-on:click="divide" type="button" value="/">
        <br>
        <h2>Answer: <strong id="answer">{{ answer }}</strong></h2>

        <br>
        <br>
        <button class="btn btn-danger" v-on:click="logout">Log Out</button>
    </div>

    <!--//REQUIRED SCRIPTS-->
    <script src="vendor/fontawesome.js"></script>
    <script src="vendor/vue.js"></script>
    <script src="vendor/vue-router.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
    <!--REQUIRED SCRIPTS//-->

    <!--//CONFIG-->
    <script src="vendor/firebase-config.js"></script>
    <!--CONFIG//-->

    <script src="js/calculator.js"></script>
</body>

</html>