<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Content</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="vendor/jquery.min.js"></script>

    <link rel="stylesheet" href="css/edit.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- Nav Bar Start -->
	<div class="nav-bar">
		<div class="container">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
				<a href="#" class="navbar-brand">MENU</a>
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
					<div class="navbar-nav mr-auto">
						<a href="index.html" class="nav-item nav-link">Home</a>

						<a href="my-profile.html" class="nav-item nav-link">My Profile</a>
					</div>
					<!-- <div class="social ml-auto">
						<a href=""><i class="fab fa-twitter"></i></a>
						<a href=""><i class="fab fa-facebook-f"></i></a>
						<a href=""><i class="fab fa-linkedin-in"></i></a>
						<a href=""><i class="fab fa-instagram"></i></a>
						<a href=""><i class="fab fa-youtube"></i></a>
					</div> -->
				</div>
			</nav>
		</div>
	</div>
	<!-- Nav Bar End -->
    <div id="app">
        
        <!-- for content thumbnail-->
        <div class="img">
        <img :src="content.image360">
        </div>

        <!-- content for edit-->
        <div class="detail">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input v-model="content.title" type="text" class="form-control" id="title" name="title" >
            </div>
            <div class="mb-3">
                <textarea v-model="content.description" class="form-control" id="description" name="description" rows="6"></textarea>
            </div>
            <div class="mb-3">
                <input v-model="content.category" class="form-control" list="datalistOptions" id="category" name="category"
                    :placeholder="cat">
                <datalist id="datalistOptions">
                    <option v-for="category in categories" :value=category.label>
                </datalist>
            </div>


            <div class="btn-form">
                <button v-on:click="toHome" type="button" class="btn btn-outline-primary">Cancle</button>

                <button v-on:click="setContent(title,description,category)" id="myBtn" type="button"
                    class="btn btn-primary">  Edit  </button>
  
            </div>

        </div>

        <div id="myModal3" class="modal3">
            <!-- Modal content -->
            <div class="modal-content-progress">
                <div class="progress">
                    <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
                </div>

            </div>
        </div>        

    </div>
</body>

<script src="./dropzone-5.7.0/dropzone-5.7.0/dist/dropzone.js"></script>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--//REQUIRED SCRIPTS-->
<script src="vendor/fontawesome.js"></script>
<script src="vendor/vue.js"></script>
<script src="vendor/vue-router.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>
<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-storage.js"></script>
<!--REQUIRED SCRIPTS//-->

<script src="vendor/firebase-config.js"></script>
<script src="vendor/apis.js"></script>
<script src="js/edit.js"></script>


</html>