<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="icon" type="image/png" href="./assets/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="vendor/bootstrap.min.js"></script>
    <script src="vendor/jquery.min.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="text-center mt-4">
            <img src="assets/icons/calculator.png" style="width: 128px; height: 128px;">
            <h2 class="mt-3">Welcome to My Calculator!</h2>
        </div>
        <div class="mt-4">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input v-model="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-grid gap-2">
                <button v-on:click="login" type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>


    <!--//REQUIRED SCRIPTS-->
    <script src="vendor/fontawesome.js"></script>
    <script src="vendor/vue.js"></script>
    <script src="vendor/vue-router.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
    <!--REQUIRED SCRIPTS//-->

    <!--//CONFIG-->
    <script src="vendor/firebase-config.js"></script>
    <!--CONFIG//-->

    <!--//APP-->
    <script src="js/index.js"></script>
    <!--APP//-->
</body>

</html>