<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="vendor/jquery.min.js"></script>

    <link rel="stylesheet" href="css/upload.css">
</head>

<body>
    <div id="app">
        <div class="img">
            <form action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload">
                <div class="dz-message needsclick">
                    <button type="button" class="dz-button">Drop files or click to upload.</button>
                </div>
            </form>
        </div>

        <div class="detail">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input v-model="title" type="text" class="form-control" id="title" name="title" placeholder="Untitled">
            </div>
            <div class="mb-3">
                <textarea v-model="description" class="form-control " id="description" name="description" rows="6"
                    placeholder="Description"></textarea>
            </div>
            <div class="mb-3">
                <input v-model="category" class="form-control" list="datalistOptions" id="category" name="category"
                    placeholder="Category">
                <datalist id="datalistOptions">
                    <option v-for="category in categories" :value=category.label>
                </datalist>
            </div>


            <div class="btn-form">
                <button v-on:click="toHome" type="button" class="btn btn-outline-primary">Cancle</button>

                <button v-on:click="setContent(title,description,category)" id="myBtn" type="button"
                    class="btn btn-primary">Create</button>
                <!-- v-on:click="create(title, description, category)" -->
            </div>



        </div>
        <!--เมื่อกด upload จะ pop up หน้าสำหรับใส่ location และสาามารถเพิ่ม scene ที่เป็น 360 เพิ่มได้-->
        <!--เมื่อ เพิ่มรูป ภาพพื้นหลังจะเปลี่ยนไปเป็นภาพที่โหลดขึ้นมา และสามารถลบได้-->
        <!--set location for image-->


        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <form class="search d-flex">
                            <input id="loc" name="loc" class="form-control me-2" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </nav>

                <!-- Map -->
                <div id="googleMap" style="width:100%;height:400px; background: #888;"></div>

                <script>
                    function myMap() {
                        var mapProp = {
                            center: new google.maps.LatLng(51.508742, -0.120850),
                            zoom: 5,
                        };
                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdJYPHvhaFuT1i2DyAlnuNOdSWHZCcaj4&callback=myMap"></script>
                <!-- Map -->
                <div class="control-container">
                    <div class="row">
                        <div class="col">
                            <button type="button" id="back"
                                class="back btn btn-outline-primary">back</button>
                        </div>
                        <div class="col-7">

                        </div>
                        <div class="col">
                            <button @click="setLocation(loc)" type="button" id="continue"
                                class="continue btn btn-outline-primary">continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The second Modal -->
        <div id="myModal2" class="modal2">

            <!-- Second modal content -->
            <div class="modal-content">
                <span class="close2">&times;</span>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid" style="justify-content: center;">
                        <a>Plese select your thumbnail</a>
                    </div>
                </nav>
                <div class="thumpnail">
                    <div class="img2">
                        <form action="/upload" class="dropzone needsclick dz-clickable" id="upload">
                            <div class="dz-message needsclick">
                                <button type="button" class="dz-button">Drop files or click to upload.</button>
                            </div>
                        </form>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Select content privacy</label>
                        <select v-model="privacy" id="privacy" class="privacy form-control">
                            <option  selected>Choose...</option>
                            <option value="published">Public</option>
                            <option value="link">Only people with link</option>
                            <option value="private">Private</option>
                        </select>
                    </div>
                </div>

                <div class="control-container">
                    <div class="row">
                        <div class="col">
                            <button type="button" id="back"
                                class="back2 btn btn-outline-primary">back</button>
                        </div>
                        <div class="col-7">

                        </div>
                        <div class="col">
                            <button @click="setThumbnail(privacy)" type="button" id="continue"
                                class="continue2 btn btn-outline-primary">continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div id="myModal3" class="modal3">
            <!-- Modal content -->
            <div class="modal-content-progress">
                <div class="progress">
                    <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ></div>
                </div>

            </div>
        </div>

    </div>
</body>

<script src="./dropzone-5.7.0/dropzone-5.7.0/dist/dropzone.js"></script>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--//REQUIRED SCRIPTS-->
<script src="vendor/fontawesome.js"></script>
<script src="vendor/vue.js"></script>
<script src="vendor/vue-router.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>
<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-storage.js"></script>
<!--REQUIRED SCRIPTS//-->
<script src="vendor/contents.js"></script>
<script src="vendor/category.js"></script>
<script src="vendor/firebase-config.js"></script>

<script src="js/upload.js"></script>

</html>