<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webxr</title>
    <script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/webxr.css" rel="stylesheet" />
</head>

<body>
    <div>
        <div class="row">
            <div class="tes col-xl-9 col-lg-8 col-md-12">
                <a-scene>
                    <a-sky id="img360" :src="content.image360"></a-sky>
                </a-scene>
                <div id="scene" class="row  align-items-end">
                    <div class="scene col-6 col-md-12">
                        <div id="scene" class="sceneTitle">
                            <h3>{{ content.title }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id="app" class="info col-xl-3 col-lg-4 col-md-12">
                <div class="tn">
                    <img id="thumbnail" :src='content.thumbnail' alt="thumbnail">
                </div>
                <div class="detail">
                    <input type="text" name="title" :value=content.title>
                </div>
                <div class="detail">
                    <input type="text" name="Locations" placeholder="content.location">
                </div>
                <div class="detail">
                    <label for="description">Description</label><br>
                    <textarea name="description" id="description" rows="10":value=content.description></textarea>
                </div>
                <div class="detail">
                    <input v-model='cate' type="text" name="category" disabled>
                </div>
                <div class="detail">
                    <input v-model="date" type="text" name="date" disabled>
                </div>
                <div class="detail">
                    <input type="text" name="link" value="contentLink" disabled>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!--//REQUIRED SCRIPTS-->
    <script src="vendor/fontawesome.js"></script>
    <script src="vendor/vue.js"></script>
    <script src="vendor/vue-router.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-storage.js"></script>
    <!--REQUIRED SCRIPTS//-->
    <script src="vendor/firebase-config.js"></script>

    <script src="js/apis.js"></script>
    <script src="js/webxr.js"></script>
</body>

</html>