input{
    padding: 8px;
    margin: 8px;
    font-size: 18px;
}

#answer{
    color: deepskyblue;
}

body{
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    font-size: 20px;
    padding: 8px;
}

.btn-opt{
    width: 64px;
    height: 64px;
}