/**********************************/
/********** General CSS ***********/
/**********************************/
body {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: fee6e2;
}

a {
  color: #ffa94c;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #000000;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
  padding: 0;
  color: #000000;
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 400;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #082c44;
  color: #ffffff;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  border-radius: 4px;
  z-index: 11;
}

.back-to-top:hover {
  background: #000000;
}

.back-to-top i {
  padding-top: 9px;
  color: #ffffff;
}

/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
  width: 100%;
  height: 35px;
  padding: 5px 15px;
  color: #999999;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
}

.form-control:focus,
.custom-select:focus {
  box-shadow: none;
  border-color: #082c44;
}

.custom-radio,
.custom-checkbox {
  margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
  border-color: #cccccc;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #ffffff;
  background: #082c44;
}

.d-grid.gap-2.d-md-block {
  margin-left: 80px;
}

/**********************************/
/*********** Top Bar CSS **********/
/**********************************/
.top-bar {
  padding: 2px 0;
  background: #000000;
}

.top-bar .tb-contact p {
  display: inline-block;
  margin: 0;
  color: #ffa94c;
  font-size: 14px;
}

.top-bar .tb-contact p i {
  margin-right: 6px;
}

.top-bar .tb-contact p:first-child {
  margin-right: 15px;
}

.top-bar .tb-menu {
  font-size: 0;
  text-align: right;
}

.top-bar .tb-menu a {
  color: #ffa94c;
  font-size: 14px;
  margin: 0 8px;
}

.top-bar .tb-menu a:hover {
  color: #ffffff;
}

.top-bar .tb-menu a:last-child {
  margin-right: 0;
}

.top-bar .tb-menu a::after {
  position: absolute;
  content: "/";
  margin: 1px 0 0 6px;
  color: #ffa94c;
  font-size: 14px;
}

.top-bar .tb-menu a:last-child::after {
  display: none;
}

@media (max-width: 768px) {
  .top-bar .tb-contact,
  .top-bar .tb-menu {
    text-align: center;
  }
}

/**********************************/
/*********** Brand CSS ************/
/**********************************/
.brand {
  margin: 15px 0;
  background: fee6e2;
}

.brand .b-logo {
  text-align: left;
  overflow: hidden;
}

.brand .b-logo a img {
  max-width: 100%;
  max-height: 60px;
}

.brand .b-ads {
  overflow: hidden;
}

.brand .b-ads a img {
  max-width: 100%;
  max-height: 100%;
}

.brand .b-search {
  width: 100%;
  height: 50px;
  background-color: lime;
}
.btn.btn-secondary.btn-sm {
  max-width: 60px;
  max-height: 60px;
  background: #082c44;
}
.btn.btn-secondary.btn-sm img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .brand {
    max-height: 90px;
  }
}

@media (max-width: 767.98px) {
  .brand .b-logo,
  .brand .b-ads,
  .brand .b-search {
    text-align: center;
    margin-bottom: 15px;
  }

  .brand .b-search {
    margin-bottom: 0;
  }
}
.btn-outline-primary {
  color: #082c44;
  border-color: #082c44;
  transition: 0.2s;
}
.btn-outline-primary:hover {
  color: #fee6e2;
  border-color: #ffa94c;
  background: #ffa94c;
}
.btn-primary {
  color: #fee6e2;
  background: #082c44;
  border-color: #082c44;
  transition: 0.2s;
}
.btn-primary:hover {
  color: #fee6e2;
  background: #ffa94c;
  border-color: #ffa94c;
}

.btn-group .btn {
  max-width: 60px;
  max-height: 52px;
}
.btn-group .btn img{
  width: 100%;
  object-fit: cover;
}
.dropdown-item {
  color: #082c44;
}
.dropdown-item:hover {
  background: #ffa94c;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
  position: relative;
}

.nav-bar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav-bar .navbar {
  height: 100%;
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 2px solid #fee6e2;
  transition: none;
}

.nav-bar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

@media (min-width: 768px) {
  .nav-bar,
  .nav-bar .navbar {
    background: #082c44 !important;
  }

  .nav-bar .navbar-brand{
    display: none;
  }

  .nav-bar a.nav-link {
    padding: 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .nav-bar,
  .nav-bar .navbar {
    padding: 3px 0;
    background: #082c44 !important;
  }

  .nav-bar a.nav-link {
    padding: 5px;
  }

  .nav-bar .dropdown-menu {
    box-shadow: none;
  }

  .nav-bar .social {
    display: none;
  }
}

.nav-bar .social {
  font-size: 0;
  overflow: hidden;
}

.nav-bar .social a {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  padding: 3px 0;
  text-align: center;
  font-size: 14px;
  background: #082c44;
  border: 1px solid #fee6e2;
  border-radius: 4px;
}

.nav-bar .social a:hover {
  background: #fee6e2;
  border: 1px solid #fee6e2;
}

.nav-bar .social a i {
  color: #ffffff;
}

.nav-bar .social a:hover i {
  color: #082c44;
}

/**********************************/
/********** Main News CSS *********/
/**********************************/
.main-news {
  position: relative;
  width: 100%;

  margin-bottom: 30px;
}
.main-news .row {
  margin-top: 40px;
}

.main-news .col-md-3 {
  margin-bottom: 15px;
}
.main-news .col-md-4 {
  margin-bottom: 30px;
}

.main-news .mn-img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: 250px;
}

.main-news .mn-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

.main-news .mn-img:hover img {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.main-news .mn-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px 10px 15px 20px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.9)
  );
  display: flex;
  align-items: flex-end;
}

.main-news .mn-title a {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
}

.main-news .mn-title a:hover {
  color: #ffa94c;
}

.btn-cate {
  background: transparent;
  color: #082c44;
  width: 100%;
  height: 100px;
  border-color: #082c44;
  transition: 0.2s;
  font-weight: 600;
  font-size: 20px;
}
.btn-cate:hover {
  background: #082c44;
  color: white;
  border-color: #082c44;
}

/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
  position: relative;
  padding: 60px 0 0 0;
  background: #082c44;
  margin-bottom: 0;
}

.footer .footer-widget {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.footer .footer-widget .title {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 3px double #ffffff;
}

.footer .footer-widget p {
  color: #ffffff;
}

.footer .footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-widget ul li {
  margin-bottom: 12px;
}

.footer .footer-widget ul li:last-child {
  margin-bottom: 0;
}

.footer .footer-widget ul li a {
  color: #ffffff;
  white-space: nowrap;
  display: block;
  line-height: 23px;
}

.footer .footer-widget ul li a::before {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
  padding-left: 10px;
  color: #ffa94c;
}

.footer .contact-info p {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 16px;
}

.footer .contact-info p i {
  color: #ffffff;
  margin-right: 5px;
}

.footer .social {
  position: relative;
  width: 100%;
}

.footer .social a {
  display: inline-block;
  margin: 10px 5px 0 0;
  width: 35px;
  height: 35px;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  border-radius: 4px;
}

.footer .social a i {
  color: #082c44;
}

.footer .social a:hover {
  background: #082c44;
}

.footer .social a:hover i {
  color: #ffffff;
}

.footer .newsletter {
  position: relative;
  width: 100%;
}

.footer .newsletter form {
  position: relative;
  width: 100%;
}

.footer .newsletter input {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.footer .newsletter .btn {
  position: absolute;
  width: 80px;
  height: 35px;
  top: 0;
  right: 0;
  padding: 0 15px;
  border: none;
  background: #082c44;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-radius: 0 4px 4px 0;
  transition: 0.2s;
}

.footer .newsletter .btn:hover {
  background: #ffa94c;
  color: #ffffff;
}

.footer .newsletter input:focus,
.footer .newsletter .btn:focus {
  box-shadow: none;
}

/**********************************/
/******** Footer Menu CSS *********/
/**********************************/
.footer-menu {
  position: relative;
  background: #082c44;
}

.footer-menu .container {
  padding: 15px 0;
  border-top: 1px solid #ffffff;
}

.footer-menu .f-menu {
  font-size: 0;
  text-align: center;
}

.footer-menu .f-menu a {
  color: #ffffff;
  font-size: 14px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #ffffff;
}

.footer-menu .f-menu a:hover {
  color: #ffa94c;
}

.footer-menu .f-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
  position: relative;
  padding: 25px 0;
  background: #000000;
}

.footer-bottom .copyright {
  text-align: left;
}

.footer-bottom .template-by {
  text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
  font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
  color: #ffffff;
}

@media (max-width: 768.98px) {
  .footer-bottom .copyright,
  .footer-bottom .template-by {
    text-align: center;
  }
}

.profile-h{
  height: 52px;
}

.profile-w{
  max-width: 96px;
}

.profile-r{
  border-radius: 100%;
}

.dropdown-menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 512px) {
  #social {
      display: none;
  }
}