.profile {
  display: grid;
  width: 100%;
  background: white;
}

.profile .col-md-3 {
  background: #082c44;
  height: 95vh;
}
.pro-nav {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background: #ffa94c;
  margin: auto;
}
.pic {
  background: #ffa94c;
  width: 128px;
  height: 128px;
  margin: auto;
  margin-top: 100px;
  border-radius: 100%;
}
.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.name {
  background: transparent;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-weight: 1000px;
}
.tabs {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
}
.tabs .my-upload,
.tabs .my-add,
.tabs .my-pay {
  width: 100%;
  height: 80px;
  background: transparent;
  border-bottom: 1px solid #fee6e2;
  border-top: 1px solid #fee6e2;
  text-align: center;
  padding: 28px;
  color: #fee6e2;
}
.tabs .my-upload:hover,
.tabs .my-add:hover,
.tabs .my-pay:hover {
  background: white;
  color: #082c44;
  cursor: pointer;
}

.pro-body {
  background: #082c44;
  overflow-y: auto;
}
.list-item {
  background: white;

  margin-top: 20px;
  padding: 50px;
}

#list-item-2,
#list-item-3 {
  height: 95vh;
}

#editModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0px;
  top: 0px;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.box {
  width: 100%;
  height: 85vh;
}


@media (max-width: 1000px) {
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }
}
@media (min-width: 1000px) {
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
