.row{
    height: 85vh;
}
.tes{
    width: 100%;
    height: 100%;
    background-color: white;
}
.info{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    align-items: center;
    background: white;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}
.row .align-items-end{
    padding-top: 40px;
}
.scene{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: white;

}

.tn{
    width: 100%;
    height: 200px;
    background: gray;

    padding: 0;
}
.tn img{
    width: 100%;
    height: 100%;
    opacity: 60%;
    object-fit: cover;
}
.detail{
    width:85%;
    margin-top: 30px;
}
input{
    width: 100%;
    font-size: 20px;
    border: none;
    word-wrap:break-word;
    border-bottom: 1px solid gray;
}
textarea{
    border: none;
    border-bottom: 1px solid gray;
}
label{
    font-size: 20px;
}
.sceneTitle{
    height: 100%;
    width: 300px;
    text-align: center;
    background: aliceblue;
    opacity: 50%;
    border-top: 0.5px solid black;
    transition: .2s;
    
}
.sceneTitle:hover{
    height: 100%;
    width: 300px;
    text-align: center;
    background: rgb(178, 209, 236);
    cursor: pointer;
    border-top: 2px solid black;
}
h3{
   margin-top:  30px;
}